<!DOCTYPE html>
<html>
  <head>
    <title>RoRBudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header data-controller="menu">
      <nav>
          <% if controller_name == 'categories' && action_name == 'index' %>
            <button type="button" data-action="click->menu#toggleSideMenu">Menu</button>
          <% else %>
            <button type="button" data-action="click->menu#return">Return</button>
          <% end %>
        <h1><%= @page_title %></h1>
      </nav>

      <div class="side-menu" data-menu-target="sidemenu">
        <%= link_to "Sign Out", destroy_user_session_path, class: "nav-link", data: {turbo_method: :delete} %>
        <button type="button" data-action="click->menu#toggleSideMenu">Close</button>
      </div>
    </header>

    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
